// COLOR
$color-primary:#000;
$color-white:#ffffff;
$color-secondary:#05954e;
$color-bg:#fafafa;
$color-blue:#043882;
$color-grey:#E5EDFF;
$color-yellow:#edd176;
$color-red:#f2232a;
$color-green:#28a745;
$skype:#00aff0;
$twitter:#55aded;
$google:#e94235;
$color-hide:rgba($color-red, 0.8);
$color-download:rgba($color-yellow, 0.8);


// font-family
$Hind:'Poppins', sans-serif;
// $Hind: 'Yantramanav', sans-serif;
// $Hind: 'Noto Sans', sans-serif;
// $Hind:'Mukta', sans-serif;
 

//Break point
$mb-sm:376px;
$mb-md:481px;
$mb-lg:576px;
$mb-xl:767px;
$pt-tab:768px;
$md-tab:768px 992px;
$lg-tab:992px;
$ls-tab:1024px;
$desktop:1200px;
$md-desktop:1440px;








